/* HEADER AND BODY PARTS, WITH SOME STUFF I'LL NOT CHANGE */

header {
  background-color: #3c6255;
}

body {
  background-color: #f1f1f1;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
}

a {
  font-size: 0.8em;
}

p {
  text-align: center;
  text-align: justify;
}

h4,
h2 {
  text-align: center;
}

/* Titre header H1 "Fishing spot" */

header h1 {
  align-self: center;
  color: white;
  font-family: "Leckerli One", cursive;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Responsive Titre header H1 "Fishing spot" */

@media only screen and (min-width: 510px) {
  header h1 {
    font-size: 3em;
  }
}

/* Flexbox Header nav bar images et liste */

#flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Icones et logo du header */

#gap-img-navbar {
  display: flex;
  gap: 10px;
}

#logo-fs img {
  height: 80px;
}

/* Responsive Logo header et icones gap */

@media only screen and (max-width: 510px) {
  #gap-img-navbar {
    gap: 3px;
  }
  #logo-fs img {
    height: 60px;
  }
}

.h2-banniere-pages {
  font-size: 1.1em;
}

h3 {
  font-size: 0.9em;
  margin-block-start: 0em;
  margin-block-end: 0;
}

/* Listes stytle, couleur, typo */

li {
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Logo Fishing Spot bannière */

.svg-img {
  height: 20px;
  padding: 1px;
}

#ul-inline {
  display: flex;
  justify-content: space-evenly;
  background-color: #a8c1b1;
  padding: 5px;
}

#header-background-color {
  background-color: #3c6255;
  padding-bottom: 1px;
}

/* FOOTER */

/* Footer */

footer {
  background-color: #3c6255;
}

#footer-flex {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.footer-box4 {
  display: inline;
  padding: 5px;
}

#container-box3-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.li-footer {
  font-size: 0.8em;
  margin-top: 5px;
}
/* MEDIA QUERIES FOOTER */

@media only screen and (max-width: 510px) {
  .li-footer {
    font-size: 0.7em;
  }
  footer h3 {
    font-size: 0.7em;
  }
  .footer-box3 img {
    height: 55px;
  }
  .footer-box4 {
    padding: 0;
  }
}
