header {
  background-color: #3c6255;
  height: 20%;
}

#gridHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

body {
  background-color: #f9f9f9;
}

/* Nav bar */

.svgNavBar {
  height: 20px;
}

img.logoFs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imgNavBar {
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

#navBarFlex {
  display: flex;
  flex-direction: column;
}

#ulInline {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-family: "Leckerli One", cursive;
  color: white;
  text-align: center;
}

/* Listes nav bar */

li {
  font-family: "Roboto Mono", monospace;
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Footer */

footer {
  height: 20%;
  background-color: #3c6255;
}

/* Listes footer */

.ulFooter {
  font-family: "Roboto Mono", monospace;
  color: black;
  background-color: #3c6255;
}

label {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
