header {
  background-color: #3c6255;
}

body {
  background-color: #f9f9f9;
  margin: 0px;
}

/* Grid Header nav bar images et liste */

#gridHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#logoFs {
  align-self: center;
  justify-self: start;
  margin: 5px;
}

#imgNavBar {
  display: flex;
  align-self: center;
  justify-self: end;
  margin: 5px;
  gap: 3px;
}

h1 {
  align-self: center;
  justify-self: center;
  color: white;
  font-family: "Leckerli One", cursive;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1em;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

.svgImg {
  height: 20px;
  padding: 1px;
}

#ulInline {
  display: flex;
  justify-content: space-evenly;
  background-color: #a8c1b1;
  padding: 5px;
}

#headerBackGroundColor {
  background-color: #3c6255;
  padding-bottom: 1px;
}
/* Listes stytle, couleur, typo */

li {
  font-family: "Roboto Mono", monospace;
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

/* Bannières pages */

#banniereFishingSpot {
  width: 100%;
  background-image: url(img/banniereFs.jpg);
  background-position: center;
  background-size: cover;
  height: 100px;
  margin-top: 20px;
}

/* Listes footer */

.ulFooter {
  font-family: "Roboto Mono", monospace;
  color: black;
  background-color: #3c6255;
}

/* Footer */

footer {
  background-color: #3c6255;
}

#footerFlex {
  display: flex;
  justify-content: space-around;
}

.footerBox1 {
  margin: 5px;
}

.footerBox2 {
  margin: 5px;
}

.footerBox3 {
  display: flex;
}

.footerBox4 {
  display: inline;
  padding: 5px;
}

#containerbox3_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
