a {
        font-size: 0.8em;
        text-decoration: none;
        &:visited {
            color: black;
        }
        &:hover{
            font-weight: bold;
            border-bottom: 2px solid rgba(60, 98, 85, 0.5);
        }
        &:active {
            color: rgb(64, 68, 66);
        }
        &:link{
            color: black;
        }
    }

